.h3 { color: #CCCCCC; font-size: 100%;}
.content { font-family:Verdana, Arial, sans-serif;
       background-color: #000000;
	   margin: 0; 
}
#wrapper { color: #000066;
		   background-color: #FFFFFF;
           width: 80%;
		   margin: auto;
} 
header { font-family: Georgia, "Times New Roman", serif;
        color: #080808; 
                          
}
header h1 { padding-left: 20px;
          padding-top: 40px;
		  padding-bottom: 20px; 
		  margin: 0;
         text-align: left;
         font-size: 2.5em;
         clear: both; 	  
 }
header span { font-style: italic;
			  font-weight: bold;
			  font-size: 100%;
			  color: #FFFFFF;
              padding-right: 15em;
	      margin-top: -0.5em;	
}

nav a:hover {  color: #080808; }
nav ul ul { 
         background-color: #5564A0;
    	 padding: 0;
         display: none; 
		 text-align: left;
}
nav ul ul li { border: 1px solid  #00005D;
 		 display: block;
         width: 7em;
         padding-left: 1em;
         margin-left: 0; 
}
nav li:hover ul { display: block; }
main { background-color: #ffffff;
           color: #000000;
		   padding: 10px 20px;
	       overflow: auto; 
		   min-height: 400px;
                  
} 
main { background-color: #ffffff;
           color: #000000;
		   padding: 10px 20px;
	       overflow: auto; 
		   min-height: 400px;
                  
} 

h1 { color: #000000; 
     font-family: arial, sans-serif;
	 margin-left: -125px;
     font-size: 175%;
}

h2 { color: #000000; 
     font-family: arial, sans-serif;
	 margin: 5px;
     font-size: 175%;
}

table {
  width: 100%
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  text-align: left;
}

footer {font-size:70%;
         text-align: center;
         padding: 10px;
		 clear: both;
}
header, main, footer, figure, figcaption { display: block; }
@media only screen and (max-width: 1024px) {
	body { margin: 0; }
	#wrapper { width: auto; }                                                              
	main { margin-left: 0; }
	nav { float: none; 
              width: auto; }
	nav li { display: inline-block; 
               padding: 0.5em; }
	nav ul { text-align: center; }
	nav a { border-style: none; }
	h1, h2 { font-size: 120%; }
	p { font-size: 90%; }
} 
@media only screen and (max-width: 768px) {
	h1, h2 { font-size: 100%; }
	span { font-size: 80%; } 
  	nav, nav ul, nav li { padding: 0; }
 	nav li { display: block; }
        nav a { display: block; 
      	padding: 0.5em 0;
        border-bottom: 2px ridge #00005D; }
}
video {
  width: 100%    !important;
  height: auto   !important;
}

